//
// Variables
// --------------------------------------------------


//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:               #000;
$gray-darker:             #b7b7b7; // use
$gray-dark:               #f7f7f7;   // use
$gray:                    #282e3e; // use

